<h2>Customers</h2>
Filter: <input type="text" data-ng-model="customFilter.city" />
<br /><br />
<table>
    <tr>
        <th data-ng-click="CustomCtrl.doSort('name')">Name</th>
        <th data-ng-click="CustomCtrl.doSort('city')">City</th>
        <th data-ng-click="CustomCtrl.doSort('orderTotal')">Order</th>
        <th data-ng-click="CustomCtrl.doSort('joined')">Joined</th>
    </tr>
    <tr data-ng-repeat="cust in CustomCtrl.customers | filter: customFilter | orderBy: CustomCtrl.sortMe: CustomCtrl.reverse">
        <td>{{cust.name | uppercase}}</td>
        <td>{{cust.city | lowercase}}</td>
        <td>{{cust.orderTotal | currency: '₹ '}}</td>
        <td>{{cust.joined | date: 'longDate'}}</td>
    </tr>

</table>